<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Super Sprinter 3000 - Add new Story</title>
    {%if button == "Update"%} <title>Super Sprinter 3000 - Add new Story</title> {%endif%}
    {%if button == "Create"%} <title>Super Sprinter 3000 - Edit Story</title> {%endif%}
</head>

<body>
    <h2>User Story manager - Add new Story</h2>
    <form action="/save-note" method="post">
        {%if button == "Update"%} <p>ID<br><textarea name="ID" rows="1" cols="1" readonly>{{ post_id }}</textarea></p> {%endif%}
        <p>Story Title<br><textarea name="story_title" rows="1" cols="80">{{ data.1 }}</textarea></p>
        <p>User Story<br><textarea name="user_story" rows="1" cols="80">{{ data.2 }}</textarea></p>
        <p>Acceptance criteria<br><textarea name="acc_crit" rows="4" cols="80">{{ data.3 }}</textarea></p>
        <p>Business Value<br><input name="bus_value" type="number" value="{{data.4}}" step="100" min="100" max="1500"> </p>
        <p>Estimation (h)<br><input name="est" type="number" value="{{data.5}}" step="0.5" min="0.5" max="40"></p>
        <p>Status<br><select name="status" selected="{{ data.6 }}">
                <option value="Planning">Planning</option>
                <option value="TODO">TODO</option>
                <option value="In Progress">In Progress</option>
                <option value="Review">Review</option>
                <option value="Done">Done</option>
                
            </select></p>


        <button type="submit">{{button}}</button>
    </form>
</body>

</html>